{{#each areas}}
    <div class="block">
        {{#if this}}
            <div style="background-color: #{{this.colorTheme}}" id="{{this.id}}" class="area"></div>
            <div id="{{this.id}}" style="background-color: #{{this.colorTheme}}" class="name">{{this.name}}</div>
        {{/if}}
    </div>
{{/each}}