{{#each attraction}}

<div class="attraction-card">
    <p class="attraction-name">{{attraction.name}}({{attraction.type}})</p>
    <p class="attraction-description">{{attraction.description}}</p>
    <p class="attraction-hours">{{attraction.times[0]}} to {{attraction.times[times.length]}}</p>
</div>

{{/each}}