<div class = "attractions-container">
    <p>{{this.name}}</p>
{{#each attractions}}
<div class="attraction-card">
    <a class="attraction-name" href="#">{{this.name}}</a>
    <p class = "attraction-type">({{this.areaName}})</p>
    <div class = "attraction-details isHidden">
        <p class="attraction-description">{{this.description}}</p>
        <p class = "attraction-times">{{this.times}}</p>
    </div>
</div>
{{/each}}
</div>